header{
    background-image: url('images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

@media (max-width:48rem) {
    header{
    background-image: url('images/bg-curvy-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}
}